---
import LearningPage from "../../components/learning/LearningPage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects">
  <main class="min-h-full bg-isabelline bg-secondary">
    <LearningPage />
  </main>
</Layout>
