---
import AboutUsPage from "../../components/about/AboutUsPage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects">
  <main class="min-h-full bg-isabelline bg-secondary">
    <AboutUsPage text1="เกี่ยวกับเรา" />
  </main>
</Layout>
../../components/about/AboutUsPage.astro
