---
import HomePageComponent from "./HomePageComponent";
import {
  VideoExample,
  MoreDetail,
  FeedBackPage,
  MoreDetailPopup,
  MarqueePoster,
} from "./HomePageComponent";
import Footer from "./Footer";
---

<section class="bg-secondary overflow-hidden pt-8 text-center rounded-md">
  <HomePageComponent
    client:load
    text1={"ที่ๆคนชอบ"}
    text2={"เทคโนโลยี"}
    text3={"มาเจอกันเพื่อพัฒนาตนเอง"}
  />
  <VideoExample />

  <MoreDetail client:load />
  <MarqueePoster client:only="react" />
  <!-- <MoreDetailPopup client:load /> -->
  <FeedBackPage client:load />
  <Footer client:visible />
</section>
