---
import HomePageComponent from "./HomePageComponent";
import { VideoExample, MoreDetail, FeedBack } from "./HomePageComponent";
---

<section class="bg-secondary p-8 text-center rounded-md">
  <HomePageComponent
    client:load
    text1={"ที่ๆคนชอบ"}
    text2={"เทคโนโลยี"}
    text3={"มาเจอกันเพื่อพัฒนาตนเเอง"}
  />
  <VideoExample />
  <MoreDetail client:load />
  <FeedBack client:load />
</section>
