---
import ProjectPageComponent from "./ProjectPageComponent";
import { SlidingProjects } from "./ProjectPageComponent";
---

<header class="bg-secondary pl-8 pt-8 pr-8 text-center rounded-md">
  <section class="container mx-auto pt-8 px-4 sm:px-0">
    <ProjectPageComponent
      text1={"รับจัดอบรมแบบ"}
      text2={"Project Based Learning"}
      text3={"ทั้งแบบองกรณ์และแบบส่วนตัวทั่วประเทศ"}
      buttonText={"ร่วมเรียนรู้ไปกับเรา"}
      client:load
    />
  </section>
</header>
<SlidingProjects className="mt-12" client:only="react" />
