---
import ProjectPage from "../../components/project/ProjectPage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects">
  <main class="min-h-full bg-isabelline bg-secondary">
    <section class="container mx-auto pt-8 px-4 sm:px-0">
      <ProjectPage/>
    </section>
  </main>
</Layout>
