---
import ProjectPage from "../../components/project/ProjectPage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects">
  <main class="min-h-full bg-isabelline bg-secondary">
      <ProjectPage/>
  </main>
</Layout>
