---
import AboutUsPageComponent, { OurMission } from "./AboutUsPageComponent";
import {
  MaskEffectDevCommu,
  Quote,
  SlidingPeople,
} from "./AboutUsPageComponent";
import Footer from "../homepage/Footer";
---

<header class="bg-secondary pl-8 pt-8 pr-8 text-center rounded-md">
  <section class="container mx-auto w-full pt-8 px-4 sm:px-0">
    <AboutUsPageComponent text1={"เกี่ยวกับเรา"} client:load />
    <!-- Halt this for now Because I can't make it look good -->
    <!-- <MaskEffectDevCommu client:load /> -->
    <Quote />
    <SlidingPeople client:only="react" />
    <!-- <OurMission client:only="react" /> -->
  </section>

  <Footer client:visible />
</header>
