---
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not Found</title>
    <!-- Ensure you have Tailwind CSS integrated into your project -->
    <link href="/path/to/your/tailwind.css" rel="stylesheet" />
  </head>
  <body
    class="bg-secondary text-primary flex items-center justify-center h-screen"
  >
    <div class="flex flex-col items-center">
      <a href="/" class="text-center mb-6 hover:cursor-pointer animate-bounce">
        <Image src="/favicon.svg" alt="404" width="200" height="200" class="hover:scale-125 transition-transform" />
      </a>
      <div class="text-4xl font-bold mb-4">
        404 <span class="text-cutoff">Not Found</span>
      </div>
      <p class="text-lg text-accent-cutoff">
        There's only a keycap here. Try another path, maybe?
      </p>
      <div class="mt-6 bg-primary p-2 rounded-md w-32 text-center">
        <p class="text-secondary text-base">
            {Astro.url.pathname}
        </p>
      </div>
    </div>
  </body>
</html>
