---
import Layout from "../layouts/Layout.astro";
import HomePage from "../components/homepage/HomePage.astro";
---

<Layout title="DevCommu">
  <main class="min-h-full bg-isabelline bg-secondary">
    <section class="container mx-auto pt-8 px-4 sm:px-0">
      <HomePage />
    </section>
  </main>
</Layout>
