---
import Layout from "../layouts/Layout.astro";
import HomePage from "../components/homepage/HomePage.astro";
---

<Layout title="DevCommu" >
  <main class="min-h-full bg-isabelline bg-secondary">
    <section class="mx-4 sm:mx-0 pt-8 px-1 md:px-2">
      <HomePage />
    </section>
  </main>
</Layout>
